<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yonyou.einvoice.dao.UserMapper">

  <resultMap id="BaseResultMap" type="com.yonyou.einvoice.entity.UserEntity">
    <result column="id" jdbcType="INTEGER" property="id"/>
    <result column="name" jdbcType="VARCHAR" property="name"/>
    <result column="password" jdbcType="VARCHAR" property="password"/>
  </resultMap>

  <select id="login" parameterType="com.yonyou.einvoice.entity.UserEntity" resultType="com.yonyou.einvoice.entity.UserEntity">
    select * from user where name = #{name} and password= #{password}
  </select>

  <insert id="addUser" parameterType="com.yonyou.einvoice.entity.UserEntity" useGeneratedKeys="true" keyProperty="id">
    insert into user values (#{id},#{name},#{password})
  </insert>

  <select id="findAllUser" resultType="com.yonyou.einvoice.entity.UserEntity">
    select * from user;
  </select>

</mapper>